body {
    min-height: 100vh;
    background: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    place-items: center;
}

p{
font-size: 1.3123rem;
font-weight: 700;
color: black;
margin-bottom: 5rem;
text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 28rem;
    background: white;
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}
label{
    width: 100%;
    color: #777;
    align-self: flex-start;
    transition: 0.15s linear;
}
label:focus-within{
    color:#000000;
}
input{
    font-size: 1.1875rem;
    color: #404040;
    padding: 1rem 0 0 5rem 0;
    width: 100%;
    border:none;
    border-color: #5a5a5a;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-bottom: 3rem;
    transition: 0.15s linear;
}
input:focus{
    outline:none;
    border-color: rgb(0, 0, 0);
}
.content2 {


    margin-right: 1100px;
}
.content2 a {
    justify-items: center;
    margin-left: 40px;
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}
.content2 a:hover {

    background-color: #fff;
    color: #000;
}
.button{
    justify-items: center;
    margin-left: 0px;
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}
.button:hover {
    background-color: #111111;
    color: #f3f3f3;
}